# Puerto del servidor (en produccion quitarlo)
PORT=3000

# URL local de MongoDB
MONGO_URI=mongodb://mongodb:27017

# Nombre de la base de datos
DB_NAME=administrador_articulos_db

# URL del backend
BETTER_AUTH_URL=http://localhost:3000

# TOKEN PARA LAS CONTRASEÑAS DE LA API DE AUTENTICACIÓN
BETTER_AUTH_SECRET=e14844cbf498e74082d239c8bf35067e10b15f975832f69a5af04a57fee3c026

#URL_FRONTED
FRONTED_URL=http://localhost:5173,http://192.168.0.8:5173